body {
  font-family: 'Amatic SC', cursive;
  width: 100%;
  margin:0;
  padding: 0;
}

.banner {
  background-repeat: no-repeat;
  background-position: center;
  height: 428px;
}

.show {
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.show h1 {
  background-color: black;
  font-size: 42px;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

.show-item {
  justify-content: center;
  flex-wrap: wrap;
}

.show-item .poster {
  width: 420px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.dates a {
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 520px) {
  .show-item .poster {
    display: none;
  }
}


/* Galaxy S5 */
@media (min-height: 640px) {
  .banner {
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
  }
}

/* iPhone 7 */
@media (min-height: 667px) {
  .banner {
    background-repeat: no-repeat;
    background-position: center;
    height: 527px;
  }
}

/* iPhone 7 Plus */
@media (min-height: 736px) {
  .banner {
    background-repeat: no-repeat;
    background-position: center;
    height: 596px;
  }
}

@media (min-height: 800px) {
  .banner {
    background-repeat: no-repeat;
    background-position: center;
    height: 660px;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  padding-right: 24px;
}

.column {
  display: flex;
  flex-direction: column;
}

.spaces-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  margin: auto;
  text-align: center;
}

.italic {
  font-style: italic;
}

.menu-item {
  font-size: 28px;
  margin: 16px 24px 16px 0px;
}

.menu-item.end {
  margin: 16px 0px 16px 0px;
}

.bold {
  font-weight: bold;
}

.body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: justify;
}

.manifesto li {
  margin-top: 24px;
  margin-bottom: 24px;
}
