body {
  font-family: 'Amatic SC', cursive;
  margin:0;
  padding:0;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.gravity-end {
  justify-content: flex-end;
}

.center {
  margin: auto;
  text-align: center;
}

.italic {
  font-style: italic;
}

.menu-item {
  font-size: 32px;
  margin: 16px 24px 16px 24px;
}

.logo {
  font-size: 80px;
}

#pronounciation {
  font-size: 32px;
  color: white;
}
